.center {
    text-align: center;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc; /* 下線の追加 */
    padding-bottom: 10px; /* 下線と要素の間の余白 */

}

.action-item {
    margin-right: 40px;
}

.action-item a {
    display: inline-block; /* リンクをブロックレベルに変更 */
}


a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    color: black; /* ホバー時に黒色に変更 */
    font-weight: bold; 
}

/* Header.css */
.title {
    margin-bottom: 10px; /* タイトルと線の間の余白 */
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
}

.travel-img {
    width: 100px; /* 画像の幅を指定 */
    height: 100px; /* 画像の高さを指定 */
}