.output-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0f7fa;
}

.rectangleoutput {
    width: 500px; /* 横幅を大きく設定 */
    height: 150px;
    background-color: #D9D9D9;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px; /* テキストボックスの間に余白を追加 */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
}

.button-containeroutput {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px; /* ボタンの最大幅を設定 */
    gap: 30px; /* ボタン間の余白を追加 */
}

.buttonoutput {
    flex: 1; /* ボタンが均等に配置されるようにする */
    margin-top: 20px; /* 上部からの余白 */
    margin-bottom: 20px;
    background-color: #313030; /* 背景色 */
    color: #FFFFFF; /* テキスト色 */
    border: none; /* ボーダーなし */
    border-radius: 5px; /* 丸み */
    padding: 15px 10px; /* ボタン内の余白を調整 */
    cursor: pointer; /* マウスをホバーした際にカーソルをポインターにする */
    transition: box-shadow 0.3s ease;
    white-space: nowrap; /* ボタン内のテキストを一行にする */
    overflow: hidden; /* テキストが溢れた場合に隠す */
    text-overflow: ellipsis; /* テキストが溢れた場合に省略記号を表示 */
    text-align: center; /* テキストを中央揃えにする */
}


.buttonoutput:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* ホバー時の陰影 */
    color: #FFFFFF;
}
